<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Icons Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <!-- CSS DataTables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap5.min.css"
    />

    <!-- CSS BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- CSS próprio -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>AMII</title>
  </head>
  <body>
    <%- include('pages/header') %>

    <!-- a chjamada para script.js foi colocada aqui para que possa ser vista antes da criacao da tabela presente no arquivo cadastro.ejs. Assim a funcao update() poderá ser considerada declarada antes de chegar no código presente em cadastro.ejs. -->

    <main>
      <div class=""><%- body %></div>
    </main>
    <!--  <footer>
      <div class="d-flex">
        <div class="p-2 bg-info flex-grow-1 small text-white">
          <i>Copyleft</i> Myguel A. M. Abreu - all rights reserved. Página sob
          licença
          <img
            id="bagde"
            src="https://img.shields.io/github/license/myguelangello/crud-node?color=blueviolet&style=flat"
          />
        </div>
      </div>
    </footer> -->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JS DataTables -->
    <script>
      $(document).ready(function () {
        $("#tableCadastro").DataTable();
      });
    </script>
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js"></script>

    <!-- JS Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <!-- JS's próprios -->
    <script src="/main.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
