/****** RESET ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
main {
  padding-top: 3.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a.active:not(td a) {
  border: 0.125rem solid whitesmoke;
  border-left: none;
  border-right: none;
  border-top: none;
}

li.nav-item {
  margin-left: 2rem;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 1.5rem 0 2rem;
}
table tbody tr td a {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.show {
  display: inline-flexbox;
}

i.bi {
  font-size: 1.25rem;
}
i.bi.bi-trash {
  color: red;
}

td input:not([type="button"]) {
  border: none;
  border-bottom: 0.063rem solid;

  background: none;
}

input[name="age"] {
  width: 4rem;
}

input[name="height"] {
  width: 4rem;
}

input[name="vote"] {
  width: 6rem;
}

input[type="button"] {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;

  color: white;
  background-color: cornflowerblue;

  border: 1px solid transparent;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="button"]:hover {
  background: white;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
