/****** RESET ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
main {
  padding-top: 3.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
li a.active {
  border: 0.125rem solid whitesmoke;
  border-left: none;
  border-right: none;
  border-top: none;
}

li.nav-item {
  margin-left: 2rem;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 1.5rem 0 2rem;
}
table tbody tr td a {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.show {
  display: inline-flexbox;
}

.hidden {
  display: none;
}
