<%- contentFor('body') %>

<div class="jumbotron text-center">
  <p>Primeiro APP</p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio
    praesentium, repudiandae optio ea, culpa tempora pariatur quos, eos
    molestias tempore voluptatibus similique doloremque harum quibusdam non
    aliquam quis ullam! Iusto obcaecati, tenetur corrupti architecto voluptate
    ut deleniti praesentium asperiores voluptatem quaerat, blanditiis quos!
    Facere nam voluptate quibusdam deserunt tempore, amet assumenda commodi
    labore, in tenetur cumque? Asperiores, reprehenderit officiis. Eligendi vero
    quibusdam dolorum a maiores incidunt voluptatem, expedita debitis odio
    doloribus ad, repellendus magnam nulla obcaecati, esse facere ipsam eos
    amet! Cumque sit laboriosam error, magni a quibusdam molestias. Molestias
    deserunt qui ipsum delectus! Distinctio amet necessitatibus iste vitae nam
    consectetur ab beatae porro sit atque dolorum itaque, temporibus dolorem
    ipsam dignissimos eaque voluptate, adipisci, numquam corporis ipsa
    obcaecati? Veritatis obcaecati, voluptatibus reiciendis illo ipsa porro
    exercitationem natus esse provident eligendi quo repellat delectus maiores
    id nobis eum quasi hic at deleniti, itaque ab quibusdam fugiat quis.
    Delectus, enim.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio
    praesentium, repudiandae optio ea, culpa tempora pariatur quos, eos
    molestias tempore voluptatibus similique doloremque harum quibusdam non
    aliquam quis ullam! Iusto obcaecati, tenetur corrupti architecto voluptate
    ut deleniti praesentium asperiores voluptatem quaerat, blanditiis quos!
    Facere nam voluptate quibusdam deserunt tempore, amet assumenda commodi
    labore, in tenetur cumque? Asperiores, reprehenderit officiis. Eligendi vero
    quibusdam dolorum a maiores incidunt voluptatem, expedita debitis odio
    doloribus ad, repellendus magnam nulla obcaecati, esse facere ipsam eos
    amet! Cumque sit laboriosam error, magni a quibusdam molestias. Molestias
    deserunt qui ipsum delectus! Distinctio amet necessitatibus iste vitae nam
    consectetur ab beatae porro sit atque dolorum itaque, temporibus dolorem
    ipsam dignissimos eaque voluptate, adipisci, numquam corporis ipsa
    obcaecati? Veritatis obcaecati, voluptatibus reiciendis illo ipsa porro
    exercitationem natus esse provident eligendi quo repellat delectus maiores
    id nobis eum quasi hic at deleniti, itaque ab quibusdam fugiat quis.
    Delectus, enim.
  </p>
</div>
