<%- contentFor('body') %>

<div class="container-lg container-md container-sm">
  <h2 class="">Home</h2>
  <p>
    Este código foi desenvolvido por
    <a
      href="https://github.com/myguelangello"
      target="_blank"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Ver perfil do github"
    >
      Myguel Angello
    </a>
    , aplicação apresenta a resolução do trabalho final de Autoração Multimídia
    II do semestre 2021.1, curso Sistemas e Mídias Digitais - UFC.
  </p>
  <p>
    Para saber mais leia a página <a href="/about">About</a> juntamente com o
    README da aplicação que mostra coisas interessantes.
  </p>

  <p>
    Ou se preferir vá direto para o
    <a
      href="https://github.com/myguelangello/crud-node"
      target="_blank"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Ir para o github"
    >
      repositório da aplicação
    </a>
    e confira o código por completo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla culpa harum
    in aliquam quisquam autem obcaecati voluptas, nihil repudiandae reiciendis
    debitis distinctio deserunt unde et at quod ea. Quia, autem! Sed atque
    eveniet minus delectus ea temporibus quisquam vitae magni fugiat, beatae
    sunt dicta. Mollitia temporibus autem maxime dolores, quisquam aliquam
    veniam explicabo laborum itaque modi accusantium iste officia cumque?
    Facilis similique at odit voluptatum cum nobis nisi quae eveniet harum
    veritatis. Sapiente dicta, praesentium hic maxime eveniet atque at in fugit
    quidem cupiditate voluptatem, doloremque dignissimos nam officiis
    consectetur. Cupiditate odit rem quidem inventore, voluptatem repellendus?
    Dolores, sed? Dicta sint optio iure deleniti inventore cumque at quia quis
    non error ipsa placeat voluptate distinctio, culpa veniam minus possimus
    qui! Laborum corrupti quia doloremque veritatis. Illo corrupti, animi
    mollitia aperiam ipsa esse sed incidunt architecto, eligendi blanditiis
    voluptatem illum, molestiae quam minus veniam doloribus? Accusantium placeat
    odio eos fugiat et.
  </p>
</div>
